// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&family=Satisfy&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-tab-highlight-color: transparent;
    user-select: none;
    transition: .2s linear;
}

html
{
    font-size: 14px;

    @include mobile {
        font-size: 11px;
    }
}

body
{
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

// @each $color, $val in $color {
//     .color-#{$color} {
//         color: $val;
//     }
//     .bg-#{$color} {
//         background-color: $val;
//     }
// }

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    .grid-col-md-#{$val} {
        @include tablet {
            grid-template-columns: repeat($val, 1fr);
        }        
    }
}

@each $val in $numbers {
    .grid-col-sm-#{$val} {
        @include mobile {
            grid-template-columns: repeat($val, 1fr);
        }        
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    padding: 0 50px;
    margin: auto;

    @include tablet {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet {
        margin-top: calc(#{$header-tablet-height} + 0px);
    }

    @include mobile {
        margin-top: calc(#{$header-mobile-height} + 0px);
    }
}

.grid {
    display: grid;
}