.footer {
    &_top{
        margin-top: 49px;            
    }
    &_bottom{
        margin-top: 22px;            
        margin-bottom: 113px;            
    }
    .container {
        padding:0 100px ;

        @include tablet {
            padding: 0 20px;
        }
    
        @include mobile {
            padding: 0 10px;
        }

        .line{
            height: 1px;
            background-color: #f4f4f4;
        }

    }
    

    &_about {
        p {
            margin-bottom: 2rem;
        }
    }

    &_title {
        margin-bottom: 22px;
        font-weight: 600;

        
    }

    &_content {
        &_txt {
            line-height: 2.14;
            text-align: left;
            color: #111;
        }
        p {
            font-weight: 300;
            line-height: 2.21;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #333;
        }
    }

    
    &_bottom1{
        width: 839px;
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #a9a9a9;
        @include tablet {
            width: 100%;
        }
    
        @include mobile {
        }
    }
    &_bottom2{
        @include flex (flex-end, flex-end);

        @include tablet {
            @include flex (center, center);
        }
    
        @include mobile {
            margin-top: 20px;

            @include flex (flex-start, flex-start);
        }
        img{
            width:24px;
            margin-right: 22px;
        }
    }
}