.footer {
    &_top{
        margin-top: 49px;            
    }
    &_bottom{
        margin-top: 22px;            
    }
    .container {
        padding:0 100px ;

        @include tablet {
            padding: 0 20px;
        }
    
        @include mobile {
            padding: 0 10px;
        }

        .line{
            height: 1px;
            background-color: #f4f4f4;
        }

    }
    

    &_about {
        p {
            margin-bottom: 2rem;
        }
    }

    &_title {
        margin-bottom: 22px;
        font-weight: 600;

        
    }

    &_content {
        &_txt {
            width: 235px;
            line-height: 2.14;
            text-align: left;
            color: #111;
        }
        p {
            font-weight: 300;
            line-height: 2.21;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: left;
            color: #333;
        }
    }
}