.header {
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;
    padding: 24px 120px 27px 97px;

    @include tablet {
        height: $header-tablet-height;
        padding: 0;
    }

    @include mobile {
        height: $header-mobile-height;
        padding: 0;
    }   

    .container {
        height: 100%;
    }

    &.shrink {
        height: $header-shrink-height;
        z-index: 100;

        @include mobile {
            height: $header-mobile-height;
        }
    }

    
    &_menu {
        @include flex(center, space-between);
        height: 100%;
        font-size: 14px;
        color: $txt-white;
        text-transform: uppercase;

        &_logo {
            @include flex(center, center);
            
        }

        &_item:nth-child(2) {
            margin-right: 76px;
        }
        &_item:nth-child(3) {
            margin-right: 72px;
        }
    
        &_item:nth-child(4) {
            margin-right: 57px;
        }
    
        &_item:nth-child(5) {
            margin-right: 44px;

            @include tablet {
                display: none;
            }
            @include mobile {
                display: none;

            }
        }

        &_item:nth-child(6) {
            margin-right: 79px;

           
        }
    
    
        &_item ~ &_item {

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 10px;
            }
        }

        &_item.active {
            font-weight: 600;
            color: $black;
        }

        &_left{
            @include flex(center, center);
            height: 100%;

            &_item{
                @include tablet {
                    margin-right: 60px;
    
                }
                @include mobile {
                    display: 50px;
    
                }
                &_line{
                    width: 1px;
                    height: 23px;
                    background: #ccc8c6;
                }
            }
        }

        

        &_left {
            &_close {
                display: none;
            }
            @include tablet {
                flex-direction: column;
                background-color: $black;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &_item ~ &_item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &_close {
                    color: $txt-white;
                    display: block;
                    position: absolute;
                    left: 20px;
                    font-size: 2.5rem;
                }
            }
        }

        &_mobile-tonggle {
            display: none;

            @include tablet {
                display: block;
                font-size: 2.5rem;
            }
        }
    }
}