.section {
  font-size: 0;
  &_title {
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;

    .ttl {
      font-size: 3.125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 5px;
      padding-top: 150px;

      @include tablet {
        padding-top: 100px;
      }
      @include mobile {
        font-size: 2.3rem;
        padding-top: 50px;
      }
    }

    .brand {
      font-size: 2.8125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 4.5px;
      padding-top: 150px;
      @include tablet {
      }
      @include mobile {
        padding-top: 50px;
      }
    }

    .issue {
      font-size: 2.8125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 4.5px;
      color: #110e03;
      padding-top: 158px;
      @include tablet {
        padding-top: 104px;
        font-size: 2.5rem;
      }
      @include mobile {
        padding-top: 50px;
      }
    }
    .video {
      line-height: 1.2;
      letter-spacing: 10px;
      font-weight: 800;
    }

    &_text-best,
    &_video-text {
      margin-top: 49px;
      text-transform: none;
      font-size: 1.25rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      padding: 0 32.7%;

      @include tablet {
        margin-top: 49px;
        padding: 0 11.7%;
      }
      @include mobile {
        margin-top: 30px;
        padding: 0 11.7%;
      }
    }

    &_brand-text,
    &_issue-text {
      font-size: 1rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      padding: 0 32.2%;
      padding-top: 40px;
      margin-bottom: 77px;
      font-family: NotoSansCJKkr;
      @include tablet {
        padding: 0 15%;
        padding-top: 25px;
        font-size: 0.865rem;
      }
      @include mobile {
        padding: 0 7%;
        padding-top: 20px;
        font-size: 1rem;
        margin-bottom: 25px;
      }
    }

    &_video-text {
      margin-bottom: 76px;

      @include mobile {
        margin-bottom: 40px;
      }
    }
    .mor {
      margin-bottom: 93px;

      @include mobile {
        margin-bottom: 40px;
      }
    }

    &_see {
      width: 100%;
      text-align: center;

      @include mobile {
        margin-top: 00px;
        padding: 2rem 0;
        margin-bottom: 80px;
      }
      .btn {
        padding: 21px 36px 21px 37px;
        border: solid 3px #020001;
        font-size: 1.4375rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: left;
        color: $txt-second-color;
        text-transform: uppercase;
        @include mobile {
          padding: 10px 28px 10px 29px;
          font-size: 1.4rem;
        }
      }
    }
  }

  &_brand {
    background: $blue;
    position: relative;
    color: $yellow2;
    // height: 71rem;

    overflow: hidden;
  }

  &_best {
    background: $yellow;
    position: relative;
    z-index: 2;
    color: $red;
  }

  &_issue {
    background: $yellow;
    position: relative;
    z-index: 2;
    color: $black;
    overflow: hidden;
  }

  &_video {
    position: relative;
    overflow: hidden;
  }

  &_body {
    &_banner {
      width: 100%;
      object-fit: contain;
    }

    &_introduction {
      position: relative;

      &_content {
        position: absolute;
        top: 0;

        margin: 10.875rem 1rem 8.25rem 10.8125rem;
        @include tablet {
          margin: 3rem 1rem 8rem 3rem;
        }

        @include mobile {
          margin: 0;
          padding: 1rem;
        }

        h3 {
          @include font(3.125rem);
          width: 562px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: 5px;
          text-align: left;
          text-transform: uppercase;
          margin-bottom: 59px;

          @include tablet {
            width: 80%;
            margin-bottom: 30px;
          }

          @include mobile {
            @include font(1.5rem);
            width: 100%;
            line-height: normal;
            margin-bottom: 10px;
          }
        }

        p {
          @include font(1.25rem);
          width: 667px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: normal;
          text-align: left;

          @include tablet {
            width: 95%;
          }
          @include mobile {
            @include font(0.8rem);
            width: 100%;
            line-height: normal;
          }
        }
      }
    }

    &_body-box {
      width: 100%;
      padding-bottom: 197px;
      position: relative;
      margin-top: 74px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: repeating-linear-gradient(
            0deg,
            $red -2px,
            $red 1px,
            transparent 1px,
            transparent 50px
          ),
          repeating-linear-gradient(
            90deg,
            $red -1px,
            $red 1px,
            transparent 1px,
            transparent 50px
          );

        @include tablet {
          min-height: auto;
        }

        @include mobile {
          min-height: auto;
        }
      }

      &_item {
        padding-right: 175px;
        padding-left: 176px;

        @include tablet {
          padding: 0 70px;
        }
        @include mobile {
          padding: 0 20px;
        }

        &_box {
          @include tablet {
            width: 100%;
            padding-bottom: 100px;
            text-align: center;
          }
          @include mobile {
            height: auto;
          }

          &_img {
            position: relative;
            display: flex;
            justify-content: center;
            z-index: 3;
            align-items: center;
          }
          &_icon {
            width: 92px;
            height: 92px;
            position: absolute;
            top: -40px;
            left: 0;
          }

          &_info {
            width: 369px;
            position: absolute;
            bottom: -40px;
            height: 79px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: #020001 solid 3px;
            background-color: #fff;
            padding: 7px 8px 6px 0;

            @include tablet {
              width: 260px;
              padding: 0;
              outline: #020001 solid 1px;
            }

            @include mobile {
              margin-left: -10px;
            }

            &_name {
              padding: 20px 81px 15px 27px;
              font-size: 19px;
              font-weight: 800;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: normal;
              text-align: left;
              color: $txt-second-color;
              @include tablet {
                font-size: 16px;
                font-weight: 600;
                padding: 20px 0px 15px 15px;
              }

              @include mobile {
              }
            }

            &_go {
              @include font(20px);

              padding: 7px 8px 6px 0px;
              text-transform: uppercase;

              border-radius: 50%;
              padding: 22px 16px 24px 17px;
              background-color: #110e03;
              line-height: 1.25;
              font-weight: 800;
              @include tablet {
                @include font(15px);
              }

              @include mobile {
                @include font(10px);
              }
            }
          }
        }
      }
    }

    &_products {
      margin: 0 133px;
      margin-top: 142px;
      display: flex;
      align-items: flex-start;
      column-gap: 18px;
      flex-wrap: wrap;
      @include tablet {
        margin: 0;
        padding: 5rem 1rem 0 2rem;
      }
      @include lab {
        padding: 5rem 10px;
        @include flex(center, flex-start);
        margin: 0 85px;
      }
      @include ipad {
        margin: 0 15.5px;
      }
      @include mid {
        @include flex(center, center);
      }

      @include mobile {
        padding: 5rem 0;
        @include flex(center, center);
      }

      &_box {
        width: 300px;
        margin-bottom: 72px;
        text-align: left;
        @include tablet {
          width: 100%;
          margin-bottom: 35px;
        }
        @include mid {
          width: 100%;
          margin-bottom: 35px;
        }
        @include mobile {
          width: 100%;
          text-align: center;
        }

        &_title {
          margin-top: 29px;
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.94;
          letter-spacing: normal;
          color: $txt-second-color;

          @include mobile {
            margin-top: 15px;
            font-size: 1.5rem;
          }
        }

        &_info {
          margin-top: 31px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          @include mobile {
            @include flex(center, center);
            margin-top: 15px;
          }
          &_price {
            width: 82px;
            line-height: 2.19;
            text-transform: none;
            color: $txt-second-color;
          }
          &_heart {
            display: flex;
            width: 47px;
            margin-left: 164px;
            height: 20px;
            @include mobile {
              margin-left: 125px;
            }
            img {
              width: 19px;
              padding-right: 7px;
            }
            p {
              width: 28px;
            }
          }
        }
      }
    }
    .see {
      width: 100%;
      text-align: center;
      margin-top: 116px;
      margin-bottom: 143px;

      @include mobile {
        margin-top: 00px;
        padding: 2rem 0;
        margin-bottom: 80px;
      }
      .btn {
        padding: 21px 36px 21px 37px;
        border: solid 3px #020001;
        font-size: 1.4375rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: left;
        color: $txt-second-color;
        text-transform: uppercase;
        @include mobile {
          padding: 10px 28px 10px 29px;
          font-size: 1.4rem;
        }
      }
    }

    &_brand-body {
      width: 100%;
      padding-bottom: 170px;
      position: relative;
      margin-top: 74px;
      @include mobile {
        padding-bottom: 0px;
      }
      &_position1 {
        width: 11.4375rem;
        position: absolute;
        top: 11.4375rem;
        left: 10.5625rem;
        @include tablet {
          width: 8rem;
          top: 12.4375rem;
          left: 3rem;
        }
        @include mobile {
          width: 3rem;
          top: 6.4375rem;
          left: 0.5625rem;
        }
      }
      &_position2 {
        width: 9.1875rem;
        position: absolute;
        top: 3.8125rem;
        right: 16rem;
        z-index: 1;
        @include tablet {
          width: 8rem;
          top: 3.8125rem;
          right: 9rem;
        }
        @include mobile {
          width: 3rem;
          top: 0.8125rem;
          right: 3rem;
        }
      }
      &_position3 {
        width: 9.25rem;
        position: absolute;
        top: 7.125rem;
        right: 10.6875rem;
        z-index: 2;
        @include tablet {
          width: 8rem;
          top: 7.125rem;
          right: 2.6875rem;
        }
        @include mobile {
          width: 3rem;
          top: 2.125rem;
          right: 0.6875rem;
        }
      }
      &_position4 {
        width: 12.3125rem;
        position: absolute;
        bottom: 19.3125rem;
        right: -3rem;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      &_position5 {
        width: 350px;
        position: absolute;
        bottom: 186px;
        right: -0.5rem;
        z-index: 3;
        @include tablet {
          display: none;
        }
      }
      &_position6 {
        width: 12rem;
        position: absolute;
        bottom: 12.6875rem;
        left: 0;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      &_position7 {
        width: 180px;
        position: absolute;
        bottom: 12.6875rem;
        left: 11.875rem;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }

      &_item {
        padding-right: 334px;
        padding-left: 333px;
        @include tablet {
          padding: 0 10px;
        }
        @include mobile {
          padding: 0 20px;
        }

        &_line {
          width: 100%;
          height: 24px;
          padding: 9px 9px 6px;
          background-color: $black;

          &_line {
            width: 100%;
            height: 9px;
            border-top: 2px solid $blue;
            border-bottom: 2px solid $blue;
          }
        }
        &_box {
          width: 100%;
          display: flex;
          position: relative;
          align-items: flex-start;
          z-index: 5;
          height: 418px;

          @include mobile {
            flex-wrap: wrap;
            padding-bottom: 16px;
          }
          &_item {
            width: 50%;
            @include tablet {
              width: 50%;
            }
            @include mobile {
              width: 100%;
            }
            img {
              width: 100%;
              height: 100%;
              @include mobile {
                height: 80%;
              }
              @include lab {
                height: 335px;
              }
              @include tablet {
                height: 352px;
              }
            }
            &_content {
              border: solid 3px $black;
              background-color: $white;
              color: $txt-second-color;

              @include ipad {
                height: 353px;
              }
              @include tablet {
                padding: 12px 0px 17px 2px;
              }
              @include mobile {
                position: absolute;
                width: 100%;
                top: 0;
                height: 80%;
                background: rgba(0, 0, 0, 0.1);
                opacity: 1;
                padding: 0;
                border: 0;
                color: $txt-white;
                padding: 10px 20px;
              }
              p.brandstory {
                padding-top: 63px;
                margin-left: 44px;
                height: 20px;
                font-size: 1.5625rem;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                text-transform: uppercase;
                @include lab {
                  font-size: 1.2rem;
                  padding-top: 11px;
                }
                @include ipad {
                  font-size: 1.2rem;
                  padding-top: 34px;
                }
                @include tablet {
                  margin-top: 10px;
                  margin-left: 20px;
                }
                @include mobile {
                  font-size: 1.2rem;
                  margin-left: 10px;
                }
              }
              p.brandtext {
                width: 528px;
                margin-left: 44px;
                padding-top: 61px;
                font-size: 1rem;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.7;
                letter-spacing: normal;
                text-align: left;
                font-family: NotoSansCJKkr;
                @include lab {
                  padding-top: 40px;
                  width: 80%;
                }
                @include ipad {
                  width: 80%;
                  margin-top: 36px;
                }
                @include tablet {
                  width: 90%;
                  font-size: 0.9rem;
                  margin-top: 36px;
                  padding-top: 15px;
                  margin-left: 20px;
                }

                @include mobile {
                  width: 100%;
                  margin-left: 10px;
                }
              }
              p.seemore {
                width: 200px;
                text-align: left;
                margin: 47px 325px 54px 48px;
                border: solid 3px #020001;
                padding: 21px 37px;
                @include lab {
                  margin: 23px 325px 11px 48px;
                  padding: 4px 40px;
                  padding: 10px 21px;
                  width: 164px;
                }
                @include tablet {
                  width: 151px;
                  padding: 7px 14px;
                  margin: 15px 325px 6px 48px;
                }
                @include ipad {
                  width: 164px;
                  padding: 15px 17px;
                  margin-left: 20px;
                }

                @include mobile {
                  text-align: center;
                  width: 38%;
                  margin-top: 20px;
                  padding: 12px 16px;
                  border: solid 3px $white;
                  margin: 42px 324px 33px 0px;
                }

                .btn {
                  font-size: 1.4375rem;
                  font-weight: 800;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.09;
                  letter-spacing: normal;
                  text-align: left;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }

    &_issue-body {
      width: 100%;
      padding-bottom: 141px;
      position: relative;
      margin-top: 149px;
      @include tablet {
        margin-top: 100px;
      }
      @include mobile {
        padding-bottom: 57px;
        margin-top: 0px;
      }

      &_obj1 {
        width: 95px;
        position: absolute;
        top: 42px;
        right: 70px;
        @include lab {
          width: 95px;
          top: 56px;
          right: 70px;
        }
        @include tablet {
          width: 82px;
          top: 42px;
          right: 70px;
        }

        @include mobile {
          width: 40px;
          top: 0px;
          right: 10px;
        }
      }

      &_obj2 {
        width: 119px;
        position: absolute;
        top: 163px;
        right: 70px;
        @include lab {
          width: 100px;
          top: 163px;
          right: 70px;
        }
        @include tablet {
          width: 82px;
          top: 131px;
          right: 27px;
        }
        @include mobile {
          width: 40px;
          top: 25px;
          right: -18px;
        }
      }

      &_obj3 {
        width: 167px;
        position: absolute;
        bottom: 57px;
        left: 230px;
        z-index: 5;

        @include ipad {
          width: 95px;
          bottom: 83px;
          left: 127px;
        }
        @include mid {
          bottom: 84px;
          left: 80px;
        }
        @include mobile {
          display: none;
        }
      }

      &_obj4 {
        width: 111px;
        position: absolute;
        bottom: 615px;
        left: 411px;
        z-index: 5;
        @include lab {
          width: 111px;
          bottom: 532px;
          left: 310px;
        }
        @include ipad {
          width: 95px;
          bottom: 424px;
          left: 207px;
        }
        @include tablet {
          left: 207px;
        }
        @include mid {
          bottom: 361px;
          left: 207px;
        }
        @include mobile {
          display: none;
        }
      }

      &_obj5 {
        width: 111px;
        position: absolute;
        bottom: 106px;
        right: 353px;
        z-index: 5;
        @include lab {
          width: 111px;
          bottom: 113px;
          right: 238px;
        }
        @include ipad {
          width: 95px;
          bottom: 105px;
          right: 175px;
        }
        @include mobile {
          display: none;
        }
      }

      &_item {
        display: flex;
        align-items: flex-start;
        @include tablet {
        }

        &_box:nth-child(1) {
          width: 387px;
          background-color: #f50;
          font-size: 3.438rem;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: center;
          color: #110e03;
          @include flex(center, center);
          flex-wrap: wrap;
          @include tablet {
            height: 310px;
          }
          @include mid {
            height: 240px;
          }
          @include mobile {
            display: none;
          }
          p {
            width: 100%;
            text-align: center;
            padding: 0 40px;
            margin-top: 87px;
            @include lab {
              margin: 0;
              margin-top: 40px;
              padding: 0 60px;
              font-size: 2rem;
            }
            @include tablet {
              margin-left: 0px;
              margin-top: 28px;
              font-size: 2rem;
            }
          }
          img {
            margin-top: 75px;
            margin-bottom: 97px;
            @include lab {
              margin-top: 63px;
              margin-bottom: 100px;
            }
            @include tablet {
              width: 70px;
              margin-top: 25px;
              margin-bottom: 32px;
            }
          }

          @include tablet {
            padding: 0;
          }
        }
        &_box:nth-child(5) {
          width: 383px;
        }
        &_box {
          text-transform: uppercase;
          width: 390px;
          border: solid 3px #111;
          border-left: 0;

          .bg {
            background: #ff5500;
          }
          &_heade {
            @include flex(center, center);
            padding-top: 27px;
            padding-bottom: 24px;
            font-size: 1.875rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: $txt-white;
            background: $black;

            @include mobile {
              padding-top: 7px;
              padding-bottom: 9px;
              font-size: 0.875rem;
            }
          }
        }
      }
    }

    &_video-body {
      width: 100%;
      margin-top: 93px;

      @include lab {
        margin-top: 60px;
      }
      @include tablet {
        margin-top: 40px;
      }
      @include mobile {
        margin-top: 25px;
      }
      &_video {
        position: relative;
        z-index: 4;
        padding: 0 335px;
        padding-bottom: 392px;

        @include lab {
          padding: 0 250px;
          padding-bottom: 392px;
        }
        @include tablet {
          padding: 0 150px;
          padding-bottom: 190px;
        }
        @include mid {
          padding: 0 30px;
          padding-bottom: 100px;
        }
        @include mobile {
          padding: 0 20px;
          padding-bottom: 30px;
        }
      }

      &_video01 {
        position: absolute;
        bottom: 146px;
        left: 348px;
        z-index: 3;
        @include lab {
          left: 262px;
        }
        @include tablet {
          width: 190px;
          bottom: 72px;
          left: 164px;
        }
        @include mid {
          display: none;
        }
      }
      &_video02 {
        position: absolute;
        bottom: 275px;
        right: 648px;
        z-index: 2;
        @include lab {
          width: 77px;
          right: 536px;
        }
        @include tablet {
          width: 45px;
          bottom: 122px;
          right: 340px;
        }
        @include mid {
          display: none;
        }
      }
      &_video03 {
        position: absolute;
        bottom: 314px;
        left: 223px;
        z-index: 2;
        @include lab {
          left: 137px;
        }
        @include tablet {
          width: 100px;
          bottom: 151px;
          left: 77px;
        }
        @include mid {
          display: none;
        }
      }
      &_video04 {
        position: absolute;
        z-index: 2;
        bottom: 861px;
        left: -330px;
        @include tablet {
          width: 397px;
          bottom: 417px;
          left: -285px;
        }
        @include mid {
          display: none;
        }
      }
      &_video05 {
        position: absolute;
        z-index: 2;
        left: 226px;
        top: 0;
        @include tablet {
          width: 100px;
          left: 126px;
          top: 0;
        }
        @include mid {
          display: none;
        }
      }
      &_video06 {
        position: absolute;
        z-index: 3;
        top: 270px;
        right: 244px;
        @include tablet {
          width: 100px;
          top: 220px;
          right: 30px;
        }
        @include mid {
          display: none;
        }
      }
      &_video07 {
        position: absolute;
        z-index: 2;
        top: 186px;
        right: 150px;
        @include tablet {
          width: 137px;
          top: 123px;
          right: -72px;
        }
        @include mid {
          display: none;
        }
      }
      &_video08 {
        position: absolute;
        z-index: 3;
        right: -196px;
        bottom: 241px;
        @include tablet {
          width: 395px;
          right: -196px;
          bottom: 60px;
        }
        @include mid {
          display: none;
        }
      }
      &_video09 {
        position: absolute;
        z-index: 2;
        height: 474px;
        right: -168px;
        bottom: 553px;
        @include tablet {
          width: 175px;
          right: -78px;
          bottom: 70px;
        }
        @include mid {
          display: none;
        }
      }
    }
  }
}
