.section {
  font-size: 0;
  &_title {
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;

    .ttl {
      font-size: 3.125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: 5px;
      padding-top: 150px;

      @include tablet {
        padding-top: 100px;
      }
      @include mobile {
        padding-top: 50px;
      }
    }

    .brand {
      font-size: 2.8125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 4.5px;
      padding-top: 150px;
      @include tablet {
      }
      @include mobile {
        padding-top: 50px;
      }
    }

    .issue {
      font-size: 2.8125rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: 4.5px;
      color: #110e03;
      padding-top: 158px;
      @include tablet {
      }
      @include mobile {
        padding-top: 50px;
      }
    }

    &_text-best {
      margin-top: 49px;
      text-transform: none;
      font-size: 1.25rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: normal;
      text-align: center;
      padding: 0 32.7%;

      @include tablet {
        margin-top: 49px;
        padding: 0 11.7%;
      }
      @include mobile {
        margin-top: 30px;
        padding: 0 11.7%;
      }
    }

    &_brand-text,
    &_issue-text {
      font-size: 1rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      padding: 0 32.2%;
      padding-top: 40px;
      margin-bottom: 77px;
      font-family: NotoSansCJKkr;
      @include tablet {
        padding: 0 19%;
        padding-top: 25px;
        font-size: 0.865rem;
      }
      @include mobile {
        padding: 0 7%;
        padding-top: 20px;
        font-size: 1rem;
      }
    }

    &_see {
      width: 100%;
      text-align: center;

      @include mobile {
        margin-top: 00px;
        padding: 3rem 0;
        margin-bottom: 80px;
      }
      .btn {
        padding: 21px 36px 21px 37px;
        border: solid 3px #020001;
        font-size: 1.4375rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: left;
        color: $txt-second-color;
        text-transform: uppercase;
      }
    }
  }

  &_brand {
    background: $blue;
    position: relative;
    color: $yellow2;
    // height: 71rem;

    overflow: hidden;
  }

  &_best {
    background: $yellow;
    position: relative;
    z-index: 2;
    color: $red;
  }

  &_issue {
    background: $yellow;
    position: relative;
    z-index: 2;
    color: $black;
  }

  &_body {
    &_banner {
      width: 100%;
      object-fit: contain;
    }

    &_introduction {
      position: relative;

      &_content {
        position: absolute;
        top: 0;

        margin: 10.875rem 1rem 8.25rem 10.8125rem;
        @include tablet {
          margin: 3rem 1rem 8rem 3rem;
        }

        @include mobile {
          margin: 0;
          padding: 1rem;
        }

        h3 {
          @include font(3.125rem);
          width: 562px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: 5px;
          text-align: left;
          text-transform: uppercase;
          margin-bottom: 59px;

          @include tablet {
            width: 80%;
            margin-bottom: 30px;
          }

          @include mobile {
            @include font(1.5rem);
            width: 100%;
            line-height: normal;
            margin-bottom: 10px;
          }
        }

        p {
          @include font(1.25rem);
          width: 667px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.75;
          letter-spacing: normal;
          text-align: left;

          @include tablet {
            width: 95%;
          }
          @include mobile {
            @include font(0.8rem);
            width: 100%;
            line-height: normal;
          }
        }
      }
    }

    &_body-box {
      width: 100%;
      padding-bottom: 197px;
      position: relative;
      margin-top: 74px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: repeating-linear-gradient(
            0deg,
            $red -2px,
            $red 1px,
            transparent 1px,
            transparent 50px
          ),
          repeating-linear-gradient(
            90deg,
            $red -1px,
            $red 1px,
            transparent 1px,
            transparent 50px
          );

        @include tablet {
          min-height: auto;
        }

        @include mobile {
          min-height: auto;
        }
      }

      &_item {
        padding-right: 175px;
        padding-left: 176px;

        @include tablet {
          padding: 0 70px;
        }
        @include mobile {
          padding: 0 20px;
        }

        &_box {
          @include tablet {
            width: 100%;
            padding-bottom: 100px;
            text-align: center;
          }
          @include mobile {
            height: auto;
          }

          &_img {
            position: relative;
            display: flex;
            justify-content: center;
            z-index: 3;
            align-items: center;
          }
          &_icon {
            width: 92px;
            height: 92px;
            position: absolute;
            top: -40px;
            left: 0;
          }

          &_info {
            width: 369px;
            position: absolute;
            bottom: -40px;
            height: 79px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: #020001 solid 3px;
            background-color: #fff;
            padding: 7px 8px 6px 0;

            @include tablet {
              width: 260px;
              padding: 0;
              outline: #020001 solid 1px;
            }

            @include mobile {
              margin-left: -10px;
            }

            &_name {
              padding: 20px 81px 15px 27px;
              font-size: 19px;
              font-weight: 800;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: normal;
              text-align: left;
              color: $txt-second-color;
              @include tablet {
                font-size: 16px;
                font-weight: 600;
                padding: 20px 0px 15px 15px;
              }

              @include mobile {
              }
            }

            &_go {
              @include font(20px);

              padding: 7px 8px 6px 0px;
              text-transform: uppercase;

              border-radius: 50%;
              padding: 22px 16px 24px 17px;
              background-color: #110e03;
              line-height: 1.25;
              font-weight: 800;
              @include tablet {
                @include font(15px);
              }

              @include mobile {
                @include font(10px);
              }
            }
          }
        }
      }
    }

    &_products {
      padding: 142px 175px 0px 174px;

      @include tablet {
        padding: 5rem 1rem 0 10rem;
      }
      @include mid {
        padding: 5rem 3rem 0 3.7rem;
      }

      @include mobile {
        padding: 5rem 0;
      }

      &_box {
        width: 300px;
        margin-bottom: 72px;
        text-align: left;
        @include tablet {
          width: 100%;
          margin-bottom: 35px;
        }

        @include mobile {
          width: 100%;
          text-align: center;
        }

        &_title {
          margin-top: 29px;
          font-size: 18px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.94;
          letter-spacing: normal;
          color: $txt-second-color;

          @include mobile {
            font-size: 2.5rem;
          }
        }

        &_info {
          margin-top: 31px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          @include mobile {
            @include flex(center, center);
            margin-top: 15px;
          }
          &_price {
            width: 82px;
            line-height: 2.19;
            text-transform: none;
            color: $txt-second-color;
          }
          &_heart {
            display: flex;
            width: 47px;
            margin-left: 164px;
            height: 20px;
            @include mobile {
              margin-left: 125px;
            }
            img {
              width: 19px;
              padding-right: 7px;
            }
            p {
              width: 28px;
            }
          }
        }
      }
    }
    .see {
      width: 100%;
      text-align: center;
      margin-top: 116px;
      margin-bottom: 143px;

      @include mobile {
        margin-top: 00px;
        padding: 3rem 0;
        margin-bottom: 80px;
      }
      .btn {
        padding: 21px 36px 21px 37px;
        border: solid 3px #020001;
        font-size: 1.4375rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: left;
        color: $txt-second-color;
        text-transform: uppercase;
      }
    }

    &_brand-body {
      width: 100%;
      padding-bottom: 170px;
      position: relative;
      margin-top: 74px;
      @include mobile {
        padding-bottom: 0px;
      }
      &_position1 {
        width: 11.4375rem;
        position: absolute;
        top: 11.4375rem;
        left: 10.5625rem;
        @include tablet {
          width: 8rem;
          top: 12.4375rem;
          left: 3rem;
        }
        @include mobile {
          width: 3rem;
          top: 4.4375rem;
          left: 1.5625rem;
        }
      }
      &_position2 {
        width: 9.1875rem;
        position: absolute;
        top: 3.8125rem;
        right: 16rem;
        z-index: 1;
        @include tablet {
          width: 8rem;
          top: 3.8125rem;
          right: 9rem;
        }
        @include mobile {
          width: 3rem;
          top: 0.8125rem;
          right: 3rem;
        }
      }
      &_position3 {
        width: 9.25rem;
        position: absolute;
        top: 7.125rem;
        right: 10.6875rem;
        z-index: 2;
        @include tablet {
          width: 8rem;
          top: 7.125rem;
          right: 2.6875rem;
        }
        @include mobile {
          width: 3rem;
          top: 2.125rem;
          right: 0.6875rem;
        }
      }
      &_position4 {
        width: 12.3125rem;
        position: absolute;
        bottom: 19.3125rem;
        right: -3rem;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      &_position5 {
        width: 350px;
        position: absolute;
        bottom: 186px;
        right: -0.5rem;
        z-index: 3;
        @include tablet {
          display: none;
        }
      }
      &_position6 {
        width: 12rem;
        position: absolute;
        bottom: 12.6875rem;
        left: 0;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }
      &_position7 {
        width: 180px;
        position: absolute;
        bottom: 12.6875rem;
        left: 11.875rem;
        z-index: 2;
        @include tablet {
          display: none;
        }
      }

      &_item {
        padding-right: 334px;
        padding-left: 333px;
        @include tablet {
          padding: 0 10px;
        }
        @include mobile {
          padding: 0 20px;
        }

        &_line {
          width: 100%;
          height: 24px;
          padding: 9px 9px 6px;
          background-color: $black;

          &_line {
            width: 100%;
            height: 9px;
            border-top: 2px solid $blue;
            border-bottom: 2px solid $blue;
          }
        }
        &_box {
          width: 100%;
          display: flex;
          position: relative;
          z-index: 5;
          height: 418px;
          @include mobile {
            flex-wrap: wrap;
          }
          &_item {
            .a {
              width: 49%;
            }
            @include tablet {
              width: 50%;
            }
            @include mobile {
              width: 100%;
            }
            img {
              height: 100%;
              @include mobile {
                position: relative;
                height: auto;
                &:hover &_content {
                  opacity: 1;
                }
              }
            }
            &_content {
              padding: 63px 68px 54px 44px;
              border: solid 3px $black;
              background-color: $white;
              color: $txt-second-color;
              @include tablet {
                height: 100%;
                padding: 19px 0px 35px 12px;
              }
              @include mobile {
                position: absolute;
                width: 100%;
                top: 0;
                background: rgba(78, 78, 77, 0.79);
                opacity: 1;
                padding: 0;
                border: 0;
                color: $txt-white;
                padding: 10px 20px;
                opacity: 0;
              }
              p.brandstory {
                height: 20px;
                font-size: 1.5625rem;
                margin-bottom: 39px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
                text-transform: uppercase;
              }
              p.brandtext {
                width: 528px;
                font-size: 1rem;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.7;
                letter-spacing: normal;
                text-align: left;
                font-family: NotoSansCJKkr;
                @include tablet {
                  width: 90%;
                }
                @include mobile {
                  width: 100%;
                }
              }
              p.seemore {
                width: 200px;
                text-align: left;
                margin: 47px 325px 0 4px;
                border: solid 3px #020001;
                padding: 21px 37px;

                @include mobile {
                  margin-top: 20px;
                  padding: 21px 37px;
                  border: solid 3px $white;
                }
                .btn {
                  font-size: 1.4375rem;
                  font-weight: 800;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.09;
                  letter-spacing: normal;
                  text-align: left;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }

    &_issue-body {
      width: 100%;
      padding-bottom: 141px;
      position: relative;
      margin-top: 149px;
      @include mobile {
        padding-bottom: 0px;
      }

      &_obj1 {
        width: 95px;
        position: absolute;
        top: 42px;
        right: 70px;
        @include tablet {
          width: 95px;
          top: 42px;
          right: 70px;
        }
        @include mobile {
          width: 95px;
          top: 42px;
          right: 70px;
        }
      }

      &_obj2 {
        width: 119px;
        position: absolute;
        top: 163px;
        right: 70px;
        @include tablet {
          width: 95px;
          top: 163px;
          right: 70px;
        }
        @include mobile {
          width: 95px;
          top: 42px;
          right: 68px;
        }
      }

      &_obj3 {
        width: 167px;
        position: absolute;
        bottom: 57px;
          left: 230px;
        z-index: 5;
        @include tablet {
          width: 95px;
          bottom: 57px;
          left: 230px;
        }
        @include mobile {
          display: none;
        }
      }

      &_obj4 {
        width: 111px;
        position: absolute;
        bottom: 586px;
        left: 411px;
        z-index: 5;
        @include tablet {
          width: 95px;
          top: 498px;
          left: 411px;
        }
        @include mobile {
          display: none;
        }
      }

      &_obj5 {
        width: 111px;
        position: absolute;
        bottom: 85px;
          right: 353px;
        z-index: 5;
        @include tablet {
          width: 95px;
          bottom: 85px;
          right: 353px;
        }
        @include mobile {
          display: none;
        }
      }

      &_item {
        overflow: hidden;

        &_box:nth-child(1){
          width: 387px;
          padding: 87px 101px 85px 97px;
          background-color: #f50;
          font-size: 55px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: center;
          color: #110e03;

          img{
            margin: 63px 0 0;
          }
          
        }
        &_box:nth-child(5){
          width: 383px;
        }
        &_box {
          
          text-transform: uppercase;
          width: 390px;
          height: 480px;
          border: solid 3px #111 ;
          
          border-left: 0;

          .bg{
            background: #ff5500;
          }
          &_heade{
            @include flex(center, center);
            padding: 27px 24px;
            font-size: 30px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: $txt-white;
            background: $black;
          }
        }

      }
    }
  }
}
